extends base.pug 
block style 
    style 
        include ../static/6.css
block content
    html 
        head 
            title= "GBA"
        body 
        h1 Thank You!
        h2 You Form has been submited . We will send your membership card on you email.