extends base.pug

block style 
    style 
        include ../static/2.css

block content 
    section#intro 
        p#main Welcome to GBA 
        p#slog Serve It, Smash It, Win It, Love It
    section#place
        h3 You will get: 
        div.card 
            h4 Best court
            p You will get the best court there is . All courts are available, be it wooden or matte.
        div.card 
            h4 Best Teaching
            p India's best teachers will be there to teach you.
        div.card 
            h4 Best Experiance
            p You will get the best experiance , you will enter a new world.
    section#contact
        h2 Contact us 
        p If you have any inquiries or feedback, feel free to reach out to us:
        ul Email: GBA@gmail.com
        ul Phone: 123-456-7890
        ul Address: Shastri Nagar, Bhilwara, India