extends base.pug
block style 
    style 
        include ../static/4.css 

block content 
    div#ppl 
        h3 Members:
        div.ppl 
            img(src="../static/saina.jpeg", alt="pic" id="1")
            h4 Saina Nehwal
            
        div.ppl
            img(src="../static/pv.jpg", alt="pic" id="2")
            h4 PV Sindhu
            
        div.ppl 
            img(src="../static/bhavi.jpg", alt="pic" id="3")
            h4 Bhavi Agarwal
          
        h3 Owner: 
        div.pppl
            img(src="../static/goldy.jpg", alt="pic" id="4")
            h2 Garvansh Agarwal