extends base.pug
block style 
    style 
        include ../static/3.css 

block content 
    div#mem
        h3 Select the Membership you Want from below: 
        div.pos 
            h4 Monthly Membership
            h4 ₹1800/Month
            li You will get your own time slot
            li Your batch will have 10 members 
            li Your slot will be of 1 hour
            li Shuttles will be free (mavis 600)
            li Information  will be available here for any open tournament 
            
        div.pos 
            h4 Monthly Membership Premium
            h4 ₹2500/Month
            li You will get your own time slot
            li Your batch will have 5 members 
            li Your slot will be of 2 hour
            li Shuttles will be free (mavis 600)
            li Information  will be available here for any open tournament 
        div.pos 
            h4 Half Yearly Membership 
            h4 ₹12000 only
            li You will get your own time slot
            li Your batch will have 5 members 
            li Your slot will be of 2 hour
            li Shuttles will be free (mavis 600)
            li Information  will be available here for any open tournament 
        div.pos 
            h4 Yearly Membership 
            h4 ₹21000 only
            li You will get your own time slot
            li Your batch will have 5 members 
            li Your slot will be of 2 hour
            li Shuttles will be free (mavis 600)
            li Information  will be available here for any open tournament 
        div.pos 
            h4 Yearly Membership Premium
            h4 ₹30000 only
            li You will get your own time slot
            li Your batch will have 5 members 
            li Your slot will be of 2 hour
            li Shuttles will be free (mavis 600)
            li Information  will be available here for any open tournament 
            li expense free tournaments (travel+food+good place to sleep at night)
            li one trip  to out of town 
            

             