body{
    background-color: rgb(106, 157, 202);
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
h1{
    font-size: 10rem;
    margin-top: 3.1rem;
    height: 15rem;
}
h2{
    font-size: 3rem;
    padding-bottom: 10rem;
}